<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com%22%3E/"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.1.7/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
    <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
    <section class="bg-gray-900 text-white px-4 py-32 lg:h-screen">
      {% if error %}
      <div
        role="alert"
        class="rounded border-s-4 border-red-500 bg-red-50 p-4 dark:border-red-600 dark:bg-red-900 mx-80"
      >
        <div class="flex items-center gap-2 text-red-800 dark:text-red-100">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-5 w-5"
          >
            <path
              fill-rule="evenodd"
              d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
              clip-rule="evenodd"
            />
          </svg>

          <strong class="block font-medium">{{ error }}</strong>
        </div>
      </div>

      {% endif %}
      <!-- <div
        class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center"
      > -->
      <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg">
          <h1
            class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl"
          >
            Register your account
          </h1>

          <form
            action="{{ url_for('signup') }}"
            method="POST"
            class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8"
          >
          <select name="user_type" class="select select-primary w-full border-gray-200">
            <option disabled selected>Choose Category</option>
            <option>Student</option>
            <option>Faculty</option>
          </select>
            <div>
              <label for="name" class="sr-only">Name</label>

              <div class="relative">
                <input
                  id="name"
                  name="name"
                  type="text"
                  class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm input input-bordered input-info"
                  placeholder="Enter Name"
                  required
                />
              </div>
            </div>

            <div>
              <label for="email" class="sr-only">Email</label>

              <div class="relative">
                <input
                  id="email"
                  name="email"
                  type="email"
                  class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm input input-bordered input-info"
                  placeholder="Enter Email"
                  required
                />
              </div>
            </div>

            <div>
              <label for="password" class="sr-only">Password</label>

              <div class="relative">
                <input
                  id="password"
                  name="password"
                  type="password"
                  class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm input input-bordered input-info"
                  placeholder="Enter Password"
                  required
                />
              </div>
            </div>

            <button
              type="submit"
              class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white btn btn-outline btn-primary"
            >
              Sign up
            </button>

            <p class="text-center text-sm text-gray-500">
              You have an account?
              <a class="link link-warning" href="{{ url_for('login') }}"
                >Login</a
              >
            </p>
          </form>
          <div class="mt-5 text-center">
            <a href="{{ url_for('home') }}">
              <button class="join-item btn btn-outline">Previous page</button>
            </a>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </section>
  </body>
</html>
